*/.ipynb_checkpoints/*
*/__pycache__/*
*/desktop.ini
desktop.ini

data/*
!data/demographics.xlsx

simulation/*
/simulation/*/
!simulation/Template_SetupFiles/
!simulation/Rajagopal_passiveCal_hipAbd.osim